@model IEnumerable<CinemaX.Models.Filme>

@{
    ViewData["Title"] = "Lista de filmes";
    Layout = "~/Views/Shared/_LayoutBackOfiice.cshtml";
}

<div class="mydiv">
    <h1>Filmes</h1>

    <p>
        <a asp-action="AddMovie" class="btn btn-primary">Adicionar Filme</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th style="width:150px">
                    @Html.DisplayNameFor(model => model.Realizador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    Adicionado por
                </th>
                <th>
                    Data adicionado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Realizador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCreationUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAdicionado)
                    </td>
                    <td>
                        <a asp-action="EditMovie" asp-route-id="@item.IdFilme" class="btn btn-primary">Editar</a>                        
                        <a asp-action="DeleteMovie" asp-route-id="@item.IdFilme" class="btn btn-danger" style="margin-left:5px;">Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
