@model IEnumerable<CinemaX.Models.Perfil>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}

<h1>@Context.Session.GetString("NomeUtilizador")</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUtilizadorNavigation.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUtilizadorNavigation.UserPassWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUtilizadorNavigation.IdGrupoNavigation.NomeGrupo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.UserPassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telemovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.IdGrupoNavigation.NomeGrupo)
            </td>
        </tr>
}
    </tbody>
</table>
