@model CinemaX.Models.Perfil
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Perfil";
}

<div class="mydiv mytext">
    <h1> <i> <font face="Bebas Neue" color="black">PERFIL</font></i></h1>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10 mytext-col2">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10 mytext-col2">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Data de nascimento
        </dt>
        <dd class="col-sm-10 mytext-col2">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            Telemóvel
        </dt>
        <dd class="col-sm-10 mytext-col2">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt class="col-sm-2">
            Utilizador
        </dt>
        <dd class="col-sm-10 mytext-col2">
            @Html.DisplayFor(model => model.IdUtilizadorNavigation.UserName)
        </dd>
        @{int CategoriasCount = Model.IdUtilizadorNavigation.CategoriasFavorita.Count; }
        @if (CategoriasCount != 0)
        {
            <dt style="margin-left:15px;">
                Categorias Favoritas:
            </dt>

            <dd class="col-sm-10" style="text-indent:110px">
                @foreach (var Categoria in Model.IdUtilizadorNavigation.CategoriasFavorita)
                {
                    CategoriasCount--;
                    @Categoria.IdCategoriaNavigation.Nome;
                    if (CategoriasCount != 0)
                    {<a>,</a> }
                    else
                    {<a>.</a>}

                }
            </dd>
        }
        <dt style="margin-left:14px">
            <br />
            <a asp-action="EditarCategoriasFavoritas" class="btn btn-primary">Editar Categorias Favoritas</a>
        </dt>
        <dt class="col-sm-6">
            <br />
            <a asp-action="EditarPerfil" asp-route-id="@Model.IdUtilizador" class="btn btn-primary">Editar Perfil</a>
        </dt>
    </dl>

    <label style="font-weight:bold;">Últimos bilhetes:</label>
    <br />
    @if (ViewBag.Bilhete != null)
    {
        <div>
            @foreach (Bilhete bilhete in ViewBag.Bilhete)
            {
                <div style="display: inline-block; background-color:ghostwhite;border-block-color:black; width:200px; text-align:center; margin-right:10px; vertical-align:top; height:542px;">
                    <img src="~/Fotos/@bilhete.IdSessaoNavigation.IdFilmeNavigation.Foto" width="200" />
                    <br />
                    @bilhete.IdSessaoNavigation.IdFilmeNavigation.Nome
                    <br />
                    Sala:@bilhete.IdSessaoNavigation.IdSalaNavigation.Numero
                    <br />
                    Data:@bilhete.IdSessaoNavigation.Data
                    <br />
                    <img src="@ViewData[bilhete.NumBilhete.ToString()]" alt="" style="height:150px;width:150px" />
                </div>
            }
        </div>
        <br />
        <a asp-action="HistoricoBilhetes" asp-route-id="@Model.IdUtilizador" class="btn btn-primary">Histórico de bilhetes</a>
    }
    else
    {
        <label>Ainda não comprou nenhum bilhete!!!</label>
    }
</div>

