@model CinemaX.Models.Perfil
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Perfil";
}

<div class="mydiv mytext">
    <h4>Perfil</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10 mytext-col2">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10 mytext-col2">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10 mytext-col2">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class="col-sm-10 mytext-col2">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtilizadorNavigation.UserName)
        </dt>
        <dd class="col-sm-10 mytext-col2">
            @Html.DisplayFor(model => model.IdUtilizadorNavigation.UserName)
        </dd>
        @{int CategoriasCount = Model.IdUtilizadorNavigation.CategoriasFavorita.Count; }
        @if (CategoriasCount != 0)
        {
            <dt style="margin-left:15px;">
                Categorias Favoritas:
            </dt>

            <dd class="col-sm-10" style="text-indent:110px">
                @foreach (var Categoria in Model.IdUtilizadorNavigation.CategoriasFavorita)
                {
                    CategoriasCount--;
                    @Categoria.IdCategoriaNavigation.Nome;
                    if (CategoriasCount != 0)
                    {<a>,</a> }
                    else
                    {<a>.</a>}

                }
            </dd>
        }
            <dt style="margin-left:14px">
                <br />
                <a asp-action="EditarCategoriasFavoritas" class="btn btn-primary">Editar Categorias Favoritas</a>
            </dt>
        </dl>
</div>
