@model CinemaX.Models.Perfil
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Perfil";
}

<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtilizadorNavigation.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUtilizadorNavigation.UserName)
        </dd>
        <dt class="col-sm-2">
            Categorias Favoritas:
        </dt>
        <dd class="col-sm-10">
            @{int CategoriasCount = Model.IdUtilizadorNavigation.CategoriasFavorita.Count; }
            @foreach (var Categoria in Model.IdUtilizadorNavigation.CategoriasFavorita)
            {
                CategoriasCount--;
                @Categoria.IdCategoriaNavigation.Nome;
                if (CategoriasCount != 0)
                {<label>,</label> }
                else
                {<label>.</label>}

            }
        </dd>        
        <dt class="col-sm-2">
            <br />
            <a asp-action="EditarCategoriasFavoritas" class="btn btn-primary">Editar Categorias Favorias</a>
        </dt>
    </dl>
</div>
